
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#container{
    display:grid;
    gap: 20px;
    grid-template-columns: repeat(3,minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);

}

.item{
    width: 200px;
    height: 200px;
    background-color: darkcyan;
    color: white;
    text-align: center;
    line-height: 200px;
 
}