/* Flexbox são como caixas que nos permite organizar os elementos dentro da nossa pagina */

#container{
    width: 100vw;
    height: 100vh;
    background-color: black;

    display: flex;
    flex-direction: row; /* row, row-reverse, column, column-reverse */
    justify-content: center; /* flex-start, flex-end, center, space-between, space-around, space-evenly */
    align-items: center;
    /* gap: 30px; */
    
}

.item{
    background-color: brown;
    margin: 10px;
    /* height: 50px; */
}
